main {
    margin-left: 0%;
}
h4 {
    margin-top: 2rem;
    text-align: center;
}
.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}
.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 1rem 1rem;
}
input {
    padding: 5px;
    border-width: 1px;
    border-radius: 3px;
    background-color: #FFF8F8;
}
.signup-img {
    height: 20px;
    width: 20px;
    margin-bottom: 0.5rem;
}
.signup-main {
    display: flex;
    justify-content: center;
}
.signup-square {
    width: auto;
    height: auto;
    margin: 4rem;
    border-color: #888888;
    border-top-style: none;
    box-shadow: 1px 6px 9px 0px #888888;
    border-radius: 0 0 5px 5px;
}
.form-signup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.input-signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15px;
    margin-bottom: 3rem;
}
input[type=date] {
    appearance: none;
    color: #1D1D1D;
    font-size: 14px;
    padding: 14px;
    display: inline-block;
    visibility: visible;
    width: 140px;
    }
.signup-label {
    margin: 1rem;
}
.input-signup:last-of-type {
    margin-bottom: 2rem;   
   }
.btn-l {
    width: 70%;
    height: 2rem;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}
svg {
    margin-right: 1rem;
}
.shake {
    -webkit-animation: tiembla 0.1s 5;
    border: solid 2px red; 
    border-radius: 5px;
}
@-webkit-keyframes tiembla{
    0%  { -webkit-transform: translate(5px); }
}
.alert {
    color: red; 
    font-size: 12px; 
    margin: 5px; 
    display: flex; 
    justify-content: center;
}  
.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #AACE9B;
    border-bottom: 10px solid #AACE9B;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}