button {
    margin: 1rem;
    height: 37px;
    width: 133px;
    border-radius: 10px;
    border: none;
    font-size: x-large;
    background-color: #AACE9B;
}
.barra-nav {
    height: 100%;
    background-color: #AACE9B;
    width: 10%;
    float: left;
    min-height:100vh;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;       
}
button:hover {
    cursor:pointer;
    background-color:#e3eae0;
    transition: 0.3s;
}
.nav-separador {
    margin: 2rem 0rem 2rem 3rem;
    height: 2px;
    background-color: #AACE9B;
}
.nav-menu p {
    margin: 1rem;
    text-align: center;
    color: white;
    font-size: 16px;
    text-align: initial;
}
#nav-p-dos {
    text-align: center;
}
.nav-menu  {
    background-color: #373867
}
.nav-menu h2 {
    color: white;
}
.nav-menu a {
    color: white;
}
.nav-menu img {
    margin: 1rem;
}
.nav-container {
    position: sticky;
    top: 0;
    padding: 0 0 0px 13px;
    height: 46px;
    background-color: #373867;
}
.nav-container img {
    height: 10%;
}
.nav-container h2 {
    font-size: 20px;
}
/* Burger menu */
.nav-container .hamburger-lines {
    padding: 10px 0 10px 10px;
    height: 25px;
    width: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background: white;
}
/* Burger menu */
@media only screen and (min-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: flex-start; 
        flex-wrap: wrap;
        padding: 0;
        background-color: #373867;
        width: 20%;
        float: left;
        min-height:100vh; 
    }
    .nav-container .hamburger-lines {
        display: none;
    }
    button {
        margin: 0.5rem;
        height: 32px;
        width: 105px;
        border-radius: 10px;
        border: none;
        font-size: large;
        background-color: #AACE9B;
    }
    .nav-menu img {
        margin: 0.5rem;
    }
}
@media only screen and (max-width: 768px) {
 .nav-menu {
     display: none;
 }
}
@media only screen and (max-width: 1024px) {
    .nav-menu p {
        font-size: 10px;
    }
    .nav-menu a {
        font-size: 10px;
    }
}