main {
    margin-left: 0%;
}
h4 {
    margin-top: 2rem;
    text-align: center;
}
input {
    padding: 5px;
    margin-bottom: 1rem;
    border-width: 1px;
    border-radius: 3px;
    background-color: #FFF8F8;
}
.signup-img {
    height: 20px;
    width: 20px;
    margin-bottom: 0.5rem;
}
.signup-main {
    display: flex;
    justify-content: center;
}
.signup-square {
    width: 350px;
    height: 415px;
    margin: 4rem;
    border-color: #888888;
    border-top-style: none;
    box-shadow: 1px 6px 9px 0px #888888;
    border-radius: 0 0 5px 5px;
}
.form-signup {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.input-signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15px;
    margin-bottom: 3rem;
}
.signup-label {
    margin: 1rem;
}
#signup-button {
    width: 9rem;
    height: 2rem;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}
.btn-l {
    width: 11rem;
}
@media only screen and (max-width: 480px) {
    .btn-l {
        width: 8rem;
        font-size: 16px;
    }
}