<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header-container">
            <h1>Trackgenix</h1>            
            <p>We´re Trackgenix SA</p>
        </header>
        <nav class="nav-container">
            <div class="hamburger-lines">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>  
            <div class="nav-menu">
                <div class="barra-nav"></div>
                <div class="nav-separador"></div>
                <div class="button-container">
                    <button id="btn-home">Home</button>
                    <button id="btn-sign-up">Sign Up</button>
                    <button id="btn-log-in">Log In</button> 
                </div>
                <div class="nav-separador"></div>
                <div class="button-container">
                    <h2>Contact</h2>
                    <p>
                        Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem 
                        ullamcorperdolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus
                        aliquam.
                    </p>
                    <img src="../assets/email.png" alt="email-icon">
                    <a id="nav-a-uno" href="mailto:information@untitled.tld">information@untitled.tld</a>
                    <img id="nav-img-dos" src="../assets/phone.png" alt="phone-icon">
                    <a id="nav-a-dos" href="tel:0000000000">Tel.: (000) 000-0000</a>
                    <img id="nav-img-tres" src="../assets/house.png" alt="house-icon">
                    <p id="nav-p-dos">
                        1234 Somewhere Road #8254
                        Nashville, TN 00000-0000
                    </p>
                </div>
            </div>
        </nav>
        <main>
            <main class="signup-main">
                <div class="signup-square">
                    <h4>Sign Up</h4>
                    <form class="container form-signup">
                        <div class="input-signup">
                            <input type="text" class="" id="" placeholder="Full name">
                        </div>
                        <div class="input-signup">
                            <input type="password" class="" id="" placeholder="Email">
                        </div>
                        <div class="input-signup">
                            <input type="password" class="" id="" placeholder="Password">
                        </div>
                        <div class="input-signup">
                            <input type="password" class="" id="" placeholder="Confirm Password">
                        </div>
                        <button type="submit" id="signup-button">Create account</button>
                    </form>
                </div>
            </main>    
        </main>
        <footer class="footer">
            <p class="footer-p1">
                Rosario, Santa Fe- Argentina
            </p>
            <p class="footer-p2">
                Copyright © 2022 Trackgenix SA. All rights reserved.
            </p>
        </footer>
    </body>
</html>