body {
    font-family: 'Roboto', sans-serif;
    width: 1920px;
    height: 100%;
    background-color: #FFF8F8;
}
header {
    width: 1920px;
    height: 154.6px;
    background-color: #AACE9B;
    position: relative;
}
header h1 {
    position: absolute;
    left: 1334.7px;
    top: -4px;
    margin-right: 9.3px;
    width: 569.3px;
    height: 110.6px;
    font-weight: bold;
    font-size: 114.6px;
    text-align: end;
    color: #373867;
}
header p {
    position: absolute;
    right: 26.6px;
    top: 114.6px;
    height: 42.6px;
    font-weight: bold;
    font-size: 36px;
    text-align: end;
    margin: 0;
    color: #69A362;
}
nav {
    position: sticky;
    left: 0;
    top: 0;
    height: 100%;
    width: 308px;
    background-color: #373867;
    text-align: center;
    border-radius: 0 0 13px 0;
}
.barra-nav {
    left: 0;
    top: 154.6px;
    height: 8029px;
    width: 36px;
    background-color:#AACE9B;
}
.nav-separador-uno {
    position: absolute;
    top: 91.3px;
    left: 66.6px;
    width: 241px;
    height: 1.3px;
    background-color: #69A362;
}
.nav-separador-dos {
    position: absolute;
    top: 476px;
    left: 109.3px;
    width: 198px;
    height: 1.3px;
    background-color: #69A362;
}
nav button {
    width: 216px;
    height: 56px;
    border-radius: 13px;
    border: none;
    background-color: #AACE9B;
    position: absolute;
}
#btn-home {
    top: 160px;
    left: 64px;
    text-align: center;
    vertical-align: middle;
    font-size: 26.6px;
    text-decoration: none;
    vertical-align: middle;
    line-height: 53.3px;
}
#btn-sign-up {
    top: 263px;
    left: 64px;
    text-align: center;
    vertical-align: middle;
    font-size: 26.6px;
    text-decoration: none;
    vertical-align: middle;
    line-height: 53.3px;
}
#btn-log-in {
    top: 365px;
    left: 64px;
    text-align: center;
    vertical-align: middle;
    font-size: 26.6px;
    text-decoration: none;
    vertical-align: middle;
    line-height: 53.3px;
}
nav h2 {
    position: absolute;
    top: 674.6px;
    left: 53.3px;
    color: white;
    font-size: 26.6px;
    font-weight: bold;
}
#nav-p-uno {
    position: absolute;
    top: 712px;
    left: 53.3px;
    color: white;
    font-size: 17.3px;
    text-align: start;
    font-weight: 400;
}
#nav-img-uno {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1018.6px;
    left: 162.6px;
}
#nav-img-dos {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1100px;
    left: 162.6px;
}
#nav-img-tres {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 1174.6px;
    left: 162.6px;
}
#nav-a-uno {
    position: absolute;
    top: 1045.3px;
    left: 69.3px;
    width: 206.6px;
    color: white;
    text-decoration: none;
}
#nav-a-dos {
    position: absolute;
    top: 1132px;
    left: 77px;
    width: 191px;
    color: white;
    text-decoration: none;
}
#nav-p-dos {
    position: absolute;
    top: 1205.3px;
    left: 58.6px;
    width: 233.3px;
    color: white;
    font-size: 16px;
}
.main-inicial h2 {
    position: absolute;
    top: 288px;
    left: 106.6px;
    width: 1482.6px;
    height: 113.33px;
    font-size: 96px;
    font-weight: bold;
    color: #373867;
    text-align: center;
}
#main-inicial-h3 {
    position: absolute;
    top: 430.6px;
    left: 286.6px;
    width: 561px;
    height: 69.3px;
    font-size: 48px;
    font-weight: bold;
    color: #373867;
    text-align: center;
}
#main-inicial-p {
    position: absolute;
    top: 688px;
    left: 342.6px;
    width: 645.3px;
    height: 452px;
    font-size: 32px;
    color: #373867;
    text-align: center;
}
#main-inicial-main-img {
    position: absolute;
    top: 546.6px;
    left: 1013.3px;
    width: 906.6px;
    height: 668px;
}
.main-barra-uno {
    position: absolute;
    top: 1341.3px;
    left: 409.33px;
    width: 1510.66px;
    height: 16px;
    background-color: #EBFAE3;
}
#main-inicial-h3-features {
    position: absolute;
    top: 1374.66px;
    left: 265.33px;
    width: 680px;
    height: 126.66px;
    font-size: 64px;
    font-weight: bold;
    color: #373867;
    text-align: center;
}
#main-inicial-h4-record {
    position: absolute;
    top: 1625px;
    left: 611px;
    width: 435px;
    height: 65px;
    font-size: 40px;
    font-weight: bold;
    color: #373867;
    text-align: center;
    text-transform: uppercase;
}
#main-inicial-img-clock {
    position: absolute;
    top: 1640px;
    left: 348px;
    width: 280px;
    height: 264px;
}
#main-inicial-p-record {
    position: absolute;
    top: 1727px;
    left: 655px;
    width: 348px;
    height: 147px;
    font-size: 18.66px;
    color: #373867;
    text-align: center;
}
#main-inicial-h4-resource {
    position: absolute;
    top: 1625px;
    left: 1365px;
    width: 492px;
    height: 37px;
    font-size: 40px;
    font-weight: bold;
    color: #373867;
    text-align: center;
    text-transform: uppercase;
}
#main-inicial-img-resource {
    position: absolute;
    top: 1688px;
    left: 1085px;
    width: 280px;
    height: 184px;
}
#main-inicial-p-resource {
    position: absolute;
    top: 1747px;
    left: 1425px;
    width: 367px;
    height: 121px;
    font-size: 18.66px;
    color: #373867;
    text-align: center;
}
#main-inicial-h4-reports {
    position: absolute;
    top: 2224px;
    left: 672px;
    width: 268px;
    height: 69.3px;
    font-size: 40px;
    font-weight: bold;
    color: #373867;
    text-align: center;
    text-transform: uppercase;
}
#main-inicial-img-reports {
    position: absolute;
    top: 2229.33px;
    left: 348px;
    width: 280px;
    height: 280px;
}
#main-inicial-p-reports {
    position: absolute;
    top: 2318.66px;
    left: 644px;
    width: 324px;
    height: 153.33px;
    font-size: 18.66px;
    color: #373867;
    text-align: center;
}
#main-inicial-h4-roles {
    position: absolute;
    top: 2224px;
    left: 1449.33px;
    width: 317px;
    height: 53.3px;
    font-size: 40px;
    font-weight: bold;
    color: #373867;
    text-align: center;
    text-transform: uppercase;
}
#main-inicial-img-roles {
    position: absolute;
    top: 2233.3px;
    left: 1085px;
    width: 280px;
    height: 221px;
}
#main-inicial-p-roles {
    position: absolute;
    top: 2318.66px;
    left: 1432px;
    width: 353px;
    height: 128px;
    font-size: 18.66px;
    color: #373867;
    text-align: center;
}
.main-barra-dos {
    position: absolute;
    top: 2710px;
    left: 409.33px;
    width: 1510.66px;
    height: 16px;
    background-color: #EBFAE3;
}
.main-middle-section h3 {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    color: #AACE9B;
    text-align: center;
}
.main-middle-section div {
    position: absolute;
    width: 626px;
    height: 533px;
    border: 7px solid #9AB593;
}
.main-middle-section p {
    position: absolute;
    width: 429px;
    height: 148px;
    color: #373867;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#productivity-border {
    top: 2819px;
    left: 409.33px;
}
#productivity-h3 {
    top: 2919px;
    left: 465px;
    width: 520px;
    height: 112px;
}
#productivity-p {
    left: 511px;
    top: 3063px;
}
#traceability-border {
    top: 2819px;
    left: 1164px;
}
#traceability-h3 {
    top: 2919px;
    left: 1241px;
    width: 472px;
    height: 141px;
}
#traceability-p {
    left: 1275px;
    top: 3063px;
}
#leadership-border {
    top: 3452px;
    left: 409.33px;
}
#leadership-h3 {
    top: 3559px;
    left: 465px;
    width: 520px;
    height: 112px;
}
#leadership-p {
    left: 511px;
    top: 3719px;
}
#decision-border {
    top: 3452px;
    left: 1164px;
}
#decision-h3 {
    top: 3616px;
    left: 1253px;
    width: 472px;
    height: 141px;
}
#decision-p {
    left: 1275px;
    top: 3719px;
}
#main-barra-tres {
    position: absolute;
    top: 4076px;
    left: 409.33px;
    width: 1510.66px;
    height: 16px;
    background-color: #EBFAE3;
    border: none;
}
.form h3{
    position: absolute;
    top: 4125px;
    left: 388px;
    width: 384px;
    height: 92px;
    font-size: 64px;
    font-weight: bold;
    color: #373867;
}
#label-name {
    position: absolute;
    top: 4251px;
    left: 440px;
    width: 228px;
    height: 43px;
    font-size: 24px;
    font-weight: bold;
    color: #373867;
    text-transform: uppercase;
    text-align: center;
}
#input-name {
    position: absolute;
    top: 4296px;
    left: 440px;
    width: 1348px;
    height: 79px;
    border: none;
    border-radius: 26.6px;
    background-color: #37386740;
}
#label-email {
    position: absolute;
    top: 4453px;
    left: 440px;
    width: 81px;
    height: 41px;
    font-size: 24px;
    font-weight: bold;
    color: #373867;
    text-transform: uppercase;
    text-align: center;
}
#input-email {
    position: absolute;
    top: 4495px;
    left: 440px;
    width: 1348px;
    height: 79px;
    border: none;
    border-radius: 26.6px;
    background-color: #37386745;
}
.form h4{
    position: absolute;
    top: 4655px;
    left: 440px;
    width: 129px;
    height: 39px;
    font-size: 24px;
    font-weight: bold;
    color: #373867;
    text-align: center;
}
.form-check-rrhh {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 4715px;
    left: 440px;
}
.form-check-rrhh label {
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: #cdcdd9;
}
.form-check-rrhh label:after {
    content: '';
    width: 19px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 10px;
    border: 4px solid black;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.form-check-rrhh label:hover::after {
    opacity: 0.3;
}
.form-check-rrhh input[type=checkbox] {
    visibility: hidden;
}
.form-check-rrhh input[type=checkbox]:checked + label:after {
    opacity: 1;
}
#form-p-rrhh {
    position: absolute;
    top: 13px;
    left: 51px;
    width: 211px;
    height: 23px;
    font-size: 24px;
    font-weight: bold;
    color: #373867;
}  
.form-check-sistem {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 4715px;
    left: 935px;
}
.form-check-sistem label {
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: #cdcdd9;
}
.form-check-sistem label:after {
    content: '';
    width: 19px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 10px;
    border: 4px solid black;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.form-check-sistem label:hover::after {
    opacity: 0.3;
}
.form-check-sistem input[type=checkbox] {
    visibility: hidden;
}
.form-check-sistem input[type=checkbox]:checked + label:after {
    opacity: 1;
}
#form-p-sistem {
    position: absolute;
    top: 13px;
    left: 51px;
    width: 211px;
    height: 23px;
    font-size: 24px;
    font-weight: bold;
    color: #373867;
}  
.form-check-comercialization {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 4715px;
    left: 1421px;
}
.form-check-comercialization label {
    width: 43px;
    height: 43px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: #cdcdd9;
}
.form-check-comercialization label:after {
    content: '';
    width: 19px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 10px;
    border: 4px solid black;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.form-check-comercialization label:hover::after {
    opacity: 0.3;
}
.form-check-comercialization input[type=checkbox] {
    visibility: hidden;
}
.form-check-comercialization input[type=checkbox]:checked + label:after {
    opacity: 1;
}
#form-p-comercialization {
    position: absolute;
    top: 13px;
    left: 51px;
    width: 211px;
    height: 23px;
    font-size: 24px;
    font-weight: bold;
    color: #373867;
}
#form-label-message {
    position: absolute;
    top: 4849px;
    left: 397px;
    width: 229px;
    height: 43px;
    font-size: 24px;
    font-weight: bold;
    color: #373867;
    text-transform: uppercase;
    text-align: center;
}
#form-input-message {
    position: absolute;
    top: 4892px;
    left: 440px;
    width: 1348px;
    height: 420px;
    border: none;
    border-radius: 26.6px;
    background-color: #37386745;
}
#main-barra-cuatro {
    position: absolute;
    top: 5440px;
    left: 440px;
    width: 1510.66px;
    height: 16px;
    background-color: #EBFAE3;
    border: none;
}
.main-history h2 {
    position: absolute;
    top: 5539px;
    left: 593px;
    width: 992px;
    height: 143px;
    font-size: 85px;
    font-weight: bold;
    color: #373867;
    text-transform: uppercase;
    text-align: center;
}
.main-history-p1 {
    position: absolute;
    top: 5728px;
    left: 344px;
    width: 1528px;
    height: 196px;
    font-size: 32px;
    font-weight: 500;
    color: #373867;
    text-align: center;
}
.main-history-p2 {
    position: absolute;
    top: 6015px;
    left: 437px;
    width: 1356px;
    height: 156px;
    font-size: 24px;
    color: #373867;
    text-align: center;
}
.main-history-p3 {
    position: absolute;
    top: 6188px;
    left: 437px;
    width: 1356px;
    height: 156px;
    font-size: 24px;
    color: #373867;
    text-align: center;
}
.main-history-p4 {
    position: absolute;
    top: 6355px;
    left: 437px;
    width: 1356px;
    height: 156px;
    font-size: 24px;
    color: #373867;
    text-align: center;
}
#main-barra-cinco {
    position: absolute;
    top: 6816px;
    left: 440px;
    width: 1510.66px;
    height: 16px;
    background-color: #EBFAE3;
    border: none;
}
.main-end h3 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #AACE9B;
    position: absolute;
    top: 7123px;
}
.main-end-h3-products {
    left: 504px;
}
.main-end-h3-company {
    left: 983px;
}
.main-end-h3-support {
    left: 1495px;
}
.main-end ul {
    font-size: 32px;
    font-weight: bold;
    color: #373867;
    position: absolute;
    width: 261px;
    height: 237px;
    top: 7237px;
    list-style-type:disc;
}
.main-end a {
    text-decoration: none;
}
.main-end-products-list {
    left: 552px;
}
.main-end-company-list {
    left: 1031px;
}
.main-end-support-list {
    left: 1571px;
}
.footer {
    top: 8192px;
    width: 1920px;
    left: 308px;
    height: 155px;
    background-color: #AACE9B;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.footer-p1 {
    position: absolute;
    top: 8243px;
    left: 960px;
}
.footer-p2 {
    position: absolute;
    top: 8285px;
    left: 829px;
}