header p {
    margin: 0.5rem 2rem 0.5rem 0;
    font-weight: bold;
    color: #69A362;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    min-height: 70px;
    width: 100%;
    margin: auto;
    background-color: #AACE9B;
}
@media only screen and (min-width: 480px) {
    header h1 {
      font-size: 45px;
    }
    header p {
        font-size: 15px;
    }
  }
@media only screen and (min-width: 768px) {
    header h1 {
        font-size: 75px;
      }
    header p {
        font-size: 25px;
    }
}
@media only screen and (min-width: 1024px) {
    header h1 {
        font-size: 115px;
      }
    header p {
        font-size: 45px;
    }
}