/* MQ Needed to show sidebar */
@media only screen and (min-width: 1024px) {
    main {
        margin-left: 18%;
    }
}
.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.first-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-section-img {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#main-img {
    margin: 1rem;
}
.features-title {
    display: flex;
    align-items: end;
    width: 100%;
    margin: 0 0 3rem 0rem;
}
.features img {
    height: 110px;
    margin-bottom: 1rem;
}
.features {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}
.features-block {
    display: flex;
    flex: 50%;
    align-items: center;
    align-content: center;
    width: 200px;
}
@media (max-width: 480px) {
    .features-block {
      flex: 100%;
      flex-direction: column;
    }
  }
.features h3 {
    align-self: center;
    margin: 0 0 1rem 0;
}
.features h4 {
    margin: 1rem;
    text-transform: uppercase;
}
.features-text {
    text-align: center;
}
.features p {
    font-size: 10px;
    align-self: center;
    margin: 0;
    
}
.barra {
    margin: 1rem;
    width: 80%;
    height: 6px;
    background-color: #AACE9B;
}
/* Second section */
.second-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.square {
    height: 260px;
    width: 340px;
    border: solid 5px #AACE9B;
    margin: 1rem;
}
.square h3 {
    margin: 1rem;
    padding: 1rem;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #AACE9B;
}
.square p {
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 15px;
}
@media only screen and (min-width: 1024px) {
    .square {
        height: 260px;
        width: 360px;
    }
}
@media only screen and (max-width: 480px) {
    .square {
        height: 300px;
        width: 230px;
    }
    .square h3 {
        padding: 0;
    }
}
/* History section */
.container {
    display: flex;
}
.input-check {
    margin: 0;
}
.form input {
    margin: 1rem;
    border-radius: 2px;
    border: none;
    background-color: #DADADA;
}
.form h3 {
    text-align: center;
}
.form h4 {
    text-align: start;
    margin: 0 0 0 1rem;
}
.form label {
    margin: 0 0 0 1rem;
    text-transform: uppercase;
    font-size: 12px;
}
.form-checks {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 480px) {
    .form-checks {
        flex-direction: column;
        align-items: flex-start;
    }
}
.form-checks label {
    font-size: 11px;
}
.check {
    display: flex;
    align-items: center;
}
.check p{
    font-size: 12px;
}
.form textarea {    
    display: flex;
    width: -webkit-fill-available;
    margin: 1rem;
    border: none;
    background-color: #DADADA;
}
input[type="text" i] {
    width: -webkit-fill-available;
}
input[type="submit" i] {
    background-color: #AACE9B;
    border-radius: 5px;
    padding: 1rem;
}
.history {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.history h2 {
    text-transform: uppercase;
}
.history p {
    margin: 1rem;
}
#first-p {
    font-weight: bold;
}
/* Final section */
.final-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
.col-final-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
}
.final-section h3 {
    text-transform: uppercase;
    font-weight: bold;
    color:#AACE9B;
}
li a {
    color: #373867;
}
ul {
    font-weight: bold;
    list-style-type: disc;
}