html body {
    height:100%;  
    margin: 0;
    background-color: #FFF8F8;
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 80px;
}
h2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
h3 {
    margin: 0.5rem;
    font-size: 40px;
    font-weight: bold;
}
h4 {
    font-size: 20px;
    font-weight: bold;
}
p {
    text-align: center;
    font-size: 20px;
    line-height: normal;
    color: #373867;
}
img {
    height: 116px;
    width: auto;
}
a {
    text-decoration: none;
}
   /* TABLET */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 60px;
      }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 17px;
    }
    img {
        height: 70px;
        width: auto;
    }
}
/*TABLET */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 60px;
        }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    p {
        font-size: 15px;
    }
    img {
        height: 70px;
        width: auto;
    }
    }
    /* MOBILE */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 35px;
      }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 15px;
    }
    p {
        font-size: 11px;
    }
    img {
        height: 60px;
        width: auto;
    }
}